
/* Grid Stuff */

.active_sprint #content{
  display: grid;
  min-width: 1000px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 8;
  grid-gap: 20px; 
  margin: 0 auto;
  grid-template-areas:
    "header   header   header header header header issuePanel issuePanel issuePanel"
    "search   search   time   time   .      .      issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel"
    "inactive inactive active active done   done   issuePanel issuePanel issuePanel";
}

.active_sprint h1{
  grid-area: header;
}
.active_sprint .search{
  grid-area: search;
}
.active_sprint #inactiveIssuesPanel{
  grid-area: inactive;
}
.active_sprint #activeIssuesPanel{
  grid-area: active;
}
.active_sprint #doneIssuesPanel{
  grid-area: done;
}
.active_sprint .issuePanel{
  grid-area: issuePanel;
}
.active_sprint .timeRemaining{
  grid-area: time;
}

/* time remaining */
.timeRemaining{
  text-align: center;
  font-size: 20px;
}

/* Search */
.active_sprint .search{
  width: 100%;
  align-self: end;
  justify-self: start;
}
.active_sprint .search input{
  border: 2px solid lightgray;
  width: 60%;
  margin: 0;
  margin-right: 0;
}
.active_sprint .search img{
  float:left;
  max-width:25px;
  width: 70%;
}

/* IssuesPanels */
.active_sprint .issuesPanel{
  background-color: lightblue;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  box-shadow: 7px 7px 10px lightgray;
}
.active_sprint .issues{
  padding: 5px;
  max-height: 520px;
  overflow-y: auto;
}
.active_sprint .issues .issueBox{
  display: grid;
  grid-template-columns: repeat(1, 2fr 1fr);
  grid-auto-rows: minmax(70px, auto);
  background-color: rgb(239, 240, 241);
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.active_sprint .issues .issueBox:hover{
  cursor: pointer;
  background-color: lightgray;
  border: 1px solid gray;
  padding: 9px;

}
.active_sprint p,.issueShortInfo{
  margin-right: 1px;
  margin-bottom: 1px;
  padding: 3px;
  position: relative;
}
.active_sprint .issueShortInfo #issueEpic{
  /* font-size: 25px; */
  font-weight: bold;
  color: white;
  border: 1px solid gray;
  background-color: orange;
  border-radius: 5px;
  padding-left:5px;
  padding-right:5px;
  margin-left: 3px;
}
.active_sprint .issueShortInfo #dueDate{
  color: gray;
  position: absolute;
  height: 10px;
  bottom: 0px;
}

/* Issue Panel */
.active_sprint .issuePanel{
  background-color: rgb(239, 240, 241);
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  max-height: 665px;
  overflow-y: auto;
  box-shadow: 7px 7px 10px lightgray;
}

.active_sprint .issuePanel #issueEpic{
  font-size: 25px;
  font-weight: bold;
  color: white;
  border: 1px solid gray;
  background-color: orange;
  border-radius: 15px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.active_sprint .label{
  font-weight: bold;
}
.active_sprint .answer{
  margin-left: 7px;
}
.active_sprint #status{
  float:left;
}
.active_sprint #statusAnswer{
  float:left;
}
.active_sprint #priority{
  float:right;
}
.active_sprint #priorityAnswer{
  float:right;
}

.active_sprint .issuePanel #editIssueLink {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.active_sprint .issuePanel #editIssueLink:hover {
  background-color: lightblue;
  color: white;
}
.active_sprint .issuePanel #pencilIcon {
  width: 20px;
  margin-right: 5px;
}

