.login img {
  margin:-8%;
  max-width:50%;
  height:auto;
}
.login img:hover {
  cursor: pointer;
}
.login .login_grad{
  background-color: rgb(239, 240, 241);
  margin:0 auto;
  width: 22%;
  border-radius: 5px;
  border:2px solid lightgray;
}

.login input{
  border-width: thin;
  width:80%;
  font-size: large;
  padding: 10px;
}
.login button{
  width: 11vw;
  height: 5vh;
  font-size: 23px;
  border-radius: 5px;
  margin-top: 15px; 
}
.login a{
  color: rgb(0, 132, 255);
}
