/* Members */

.members .content{
  margin-left: 15px;
  margin-right: 15px;
}

.members #project_name{
  margin-bottom: 15px;
}

.members .main_panel{
  background-color: rgb(168, 208, 248);
  border-radius: 5px;
  border:2px solid lightgray;
  padding: 2vh 2vw;
  align-items: center;  
}

.members .main_panel #team_members{
  color: white;
  float: left;
}

.members .main_panel button{
  float: right;
  border-radius: 3px;
  font-size: 25px;
  padding-left:15px;
  padding-right:15px;
  margin-bottom: 30px;
}

.members .table_wrapper{
  max-height: 500px;
  width: 100%;
  overflow: auto;
}

.members #main_table {
  padding-top: 6vh;
  border-collapse: collapse;
  width: 100%;
}

.members #main_table td, #customers th {
  border: 1px solid #ddd;
  padding: 1vh;
}

.members #main_table tr:nth-child(even){
  background-color: #f2f2f2;
}

.members #main_table tr:nth-child(odd){
  background-color: white;
}

.members #main_table tr:hover {
  background-color: #ddd;
}

.members #main_table th {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: left;
}

.members .add_members_popup{
  position: absolute;
  top:30%;
  left:50%;
  width:400px;
  margin-left:-12.5%;  
  text-align: center;  
  background-color: rgb(168, 208, 248);
  border:2px solid lightgray;
  border-radius: 5px;
  padding: 2vh 1.5vw;
  box-shadow: 12px 12px 7px grey;

}

.members .add_members_popup h2{
  float:left;
  color: white;
  margin-bottom: 1vh;
}

.members .add_members_popup img{
  width: 2vw;
  height: auto;
  float:right;
}

.members .add_members_popup img:hover{
  cursor: pointer;  
}

.members .add_members_popup input{
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-width: thin;
  width:90%;
  font-size: large;
  padding: 1vh;
  margin-left: 0;
  margin-right: 0;
}

.members .add_members_popup button{
  border-radius: 3px;
  width: 10vw;
  font-size: 1.6em;
  margin-top: 0.6em;
}