.projectnav {
  display: flex;
  background-color: rgb(0, 132, 255);
  overflow:auto;
  white-space: nowrap;
}

.projectnav .dira_link{
  font-size: 45px;
  color: #f2f2f2;
  margin-left: 100px;
}
.projectnav .dira_link:hover{
  text-decoration: none;
}
.projectnav .right_links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.projectnav a {
  max-width: 230px;
  font-size:25px;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-right: 50px;
}

.projectnav img:hover{
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 lightgray, 0 4px 8px 0 lightgray;
  
}

.projectnav a:hover {
  text-decoration: underline;
}

.projectnav a.boxxed_button{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.projectnav a.boxxed_button:hover {
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  transition: 0.2s;
  
}

.projectnav .settingsPopupReference {
  background-color: rgb(0, 132, 255);
  width: 40px;
  height: auto;
  /* margin-bottom: -10px; */

}

.projectnav .settingsPopupReference:hover {
  cursor: pointer;
}

.projectnav .form-popup {
  z-index: 1;
  position:fixed;
  top: 6.9%;
  right: 0.3%; 
  border: 1px solid grey;
  box-shadow: 3px 3px 7px grey;

}

.projectnav .form-container {
  min-width: 150px;
  padding: 15px;
  background-color: rgb(240, 240, 240);
}


.projectnav .form-container #accountName {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  border-bottom: 1px solid grey;
}

.projectnav .form-container .accountLink {
  font-size: 18px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  width: 100px;
}
.projectnav .form-container .accountLinkWrapper {
  border-radius: 5px;
  padding: 2px;
}
.projectnav .form-container .accountLink:hover {
  text-decoration: none;
}
.projectnav .form-container .accountLinkWrapper:hover {
  background-color: lightgray;
  cursor: pointer;
}
/* Issue Labels */
.issueLabelsWrapper{
  display: inline-flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(84, 212, 68);
  border-width: thin;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}

.issueLabelX{
  border:0;
  color: black;
  background-color: none;
}
.issueLabelsWrapper:hover{
  cursor: initial;
}

.issueLabel{
  color: white;
  
}
/* Issue Comments */
.issueCommentsWrapper{
  display: block;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: orange;
  border-width: thin;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}

.issueCommentX{
  border:0;
  color: black;
  background-color: orange;
}
.issueCommentsWrapper:hover{
  cursor: initial;
}

.issueComment{
  color: white;
  
}
/* Project_Main */
.projectmain .leftPanel{
  margin: 0 auto;
}

.projectmain .projectButtons{
  padding-top: 2vh;
  padding-bottom: 1vh;
  float: right;
}

.projectmain .projectButtons button{
  padding:1vh;
  margin-left: 1vh;
  border-radius: 5px;
}

.projectmain .listButtons button{
  width: 50%;
  padding: 1vh;
}

.projectmain .listButtons .pressedButton{
  background-color: rgb(0, 132, 255);
  color: #f2f2f2;
  border: 1px solid rgb(0, 132, 255);
}

.projectmain .listButtons .unpressedButton{
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  border: 1px solid #ddd;
}

.projectmain #main_table {
  border-collapse: collapse;
  width: 100%;
}

.projectmain #main_table td:hover {
  cursor: pointer;
}
.projectmain #main_table tr,.projectmain #pencilIcon,.projectmain #trashcanIcon{
  height: 42px;
}
.projectmain #trashcanIcon{
  margin-left:42px;
}
.projectmain #main_table td{
  border: 1px solid #ddd;
  padding: 1vh;
}

.projectmain #main_table tr:nth-child(even){background-color: #f2f2f2;}

.projectmain #main_table tr:hover {background-color: #ddd;}

.projectmain #main_table th {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: left;
}

.projectmain #pencilIcon,#trashcanIcon{
  position: absolute;
  opacity: 40%;
}
.projectmain #pencilIcon:hover,#trashcanIcon:hover{
  cursor: pointer;
  opacity: 100%;
}

/* Create issue Popup */

.projectmain .createPopup{
  position: absolute;
  top:20%;
  left:50%;
  width:20%;
  margin-left:-12.5%;  
  text-align: center;  
  background-color: rgb(168, 208, 248);
  border:2px solid lightgray;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 12px 12px 7px grey;
}

.projectmain .createPopup h2{
  float:left;
  color: white;
  margin-bottom: 1vh;
}

.projectmain .createPopup img{
  width: 2vw;
  height: auto;
  float:right;
}

.projectmain .createPopup img:hover{
  cursor: pointer;  
}

.projectmain .createPopup #projectName,#projectKey{
  margin-top: 0;
  margin-bottom: 10px;
  border-width: thin;
  width:95%;
  font-size: large;
  padding: 1vh;
  margin-left: 0;
  margin-right: 0;
}
.projectmain .createPopup #projectKey{
  width:40%;
}
.projectmain .createPopup button{
  margin-top: 20px;
  border-radius: 3px;
  font-size: 25px;
}

.projectmain .createPopup textarea{
  border-width: thin;
  font-size: large;
  width:97.5%;
  height:100px;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 3px
}
.projectmain .createPopup label{
  margin-right: 10px;
}
.projectmain .createPopup #issueLabelOption{
  margin:0;
  
}
