.projectnav {
  display: flex;
  background-color: rgb(0, 132, 255);
  overflow:auto;
  white-space: nowrap;
}

.projectnav .dira_link{
  font-size: 45px;
  color: #f2f2f2;
  margin-left: 100px;
}
.projectnav .dira_link:hover{
  text-decoration: none;
}
.projectnav .right_links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

.projectnav a {
  max-width: 230px;
  font-size:25px;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-right: 50px;
}

.projectnav img:hover{
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 lightgray, 0 4px 8px 0 lightgray;
  
}

.projectnav a:hover {
  text-decoration: underline;
}

.projectnav a.boxxed_button{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.projectnav a.boxxed_button:hover {
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  transition: 0.2s;
  
}

.projectnav .settingsPopupReference {
  background-color: rgb(0, 132, 255);
  width: 40px;
  height: auto;
  /* margin-bottom: -10px; */

}

.projectnav .settingsPopupReference:hover {
  cursor: pointer;
}

.projectnav .form-popup {
  z-index: 1;
  position:fixed;
  top: 6.9%;
  right: 0.3%; 
  border: 1px solid grey;
  box-shadow: 3px 3px 7px grey;

}

.projectnav .form-container {
  min-width: 150px;
  padding: 15px;
  background-color: rgb(240, 240, 240);
}


.projectnav .form-container #accountName {
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 25px;
  border-bottom: 1px solid grey;
}

.projectnav .form-container .accountLink {
  font-size: 18px;
  font-weight: normal;
  color: #333;
  cursor: pointer;
  width: 100px;
}
.projectnav .form-container .accountLinkWrapper {
  border-radius: 5px;
  padding: 2px;
}
.projectnav .form-container .accountLink:hover {
  text-decoration: none;
}
.projectnav .form-container .accountLinkWrapper:hover {
  background-color: lightgray;
  cursor: pointer;
}
/* Issue Labels */
.issueLabelsWrapper{
  display: inline-flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(84, 212, 68);
  border-width: thin;
  padding-right: 5px;
  padding-left: 5px;
}

.issueLabelX{
  border:0;
  color: black;
  background-color: none;
}
.issueLabelsWrapper:hover{
  cursor: initial;
}

.issueLabel{
  color: white;
  
}
/* Issue Links */
.issueLinksWrapper{
  display: inline-flex;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: lightskyblue;
  border-width: thin;
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}

.issueLinkX{
  border:0;
  color: black;
  background-color: lightskyblue;
}
.issueLinksWrapper:hover{
  cursor: initial;
}

.issueLink{
  color: white;
  
}
/* Issue Comments */
.issueCommentsWrapper{
  display: block;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: darkorange;
  border-width: thin;
  padding-right: 5px;
  padding-left: 5px;
}

.issueCommentX{
  border:0;
  color: black;
  background-color: darkorange;
}
.issueCommentsWrapper:hover{
  cursor: initial;
}

.issueComment{
  color: white;
  
}
/* Edit Issue Link */
#editIssueLink {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
#editIssueLink:hover {
  background-color: lightskyblue;
  color: white;
}
