.register img {
  width:500px;
  height:auto;
}
.register img:hover {
  cursor: pointer;
}
.register .login_grad{
  background-color: rgb(239, 240, 241);
  margin:0 auto;
  width: 400px;
  border-radius: 5px;
  border:2px solid lightgray;
}

.register input{
  border-width: thin;
  width:300px;
  font-size: large;
  padding: 10px;
}
.register button{
  font-size: 23px;
  border-radius: 5px;
  margin-top: 15px; 
  padding-right: 15px;
  padding-left: 15px;
}
.register a{
  color: rgb(0, 132, 255);
}