.sidebar {
  flex-grow: 0;
  flex-basis: 30%;
  max-width: 280px;
  min-width: 180px;
  background-color: rgb(129, 185, 238);
  position: relative;
}
.sidebar ul {
  list-style-type: none;
  margin-top: 50px;
  padding-left: 0;
}
.sidebar a {
  display: block;
  font-size: 30px;
  padding: 0.5rem;
  text-decoration: none;
}
.sidebar a:hover {
  background-color: rgb(41, 138, 230);
  transition: 0.2s;
  color: #f2f2f2;
  box-shadow : -1px 0px 7px black;
}
.sidebar #arrows {
  position: absolute;
  bottom: 0;
  left: 0.5vw;
  max-width: 270px;
  max-height: 270px;
}