/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: 'Open Sans';
  color: #333;
}
.home_grad1 {
  background-image: linear-gradient(to bottom, rgb(0, 132, 255) , rgb(255, 255, 255));
}
.home_grad2 {
  background-image: linear-gradient(to top, rgb(0, 132, 255) , rgb(255, 255, 255));
}
.home_nav {
  /* background-image: linear-gradient(to bottom, red , yellow); */
  padding: 0.5%;
  display: flex;
  align-items: center;
  /* max-width: 1500px; */
  margin: 0 auto;
}
.home_nav h1{
  font-size: xx-large;
  color: #f2f2f2;
  padding-left: 10%;
}
.home_nav .links {
  margin-left: auto;
  margin-right: 2vw;

}
.home_nav a {
  font-size:larger;
  font-weight: bold;
  margin-right: 36px;
  text-decoration: none;
  padding: 5px;
  color: #f2f2f2;
  border-radius: 5px;
}
.home_nav a:hover {
  background-color:rgb(166, 166, 166);
}
.home_nav a.boxxed_button{
  color: 'black';
  font-size: larger;
  border-style: "solid";
  border-color: "white";
  border-width: 1px;
  border-radius: 5px;
}
.home button{
  color: #f2f2f2;
  font-weight: bold;
  margin: 0px;
  background-color: rgb(84, 212, 68);
  border-width: thin;
}
.home form {
  /* max-width: 10%; */
  margin-left: 60%;
  margin-right: 10%;
  height: 3.5vh;
}
.home form button,input { 
  margin: 15px; 
  border-radius: 2px;
}

.home form input{
  width: 45%;
  height: 100%;
  border-width: thin;
}
.home form button{
  /* border:none; */
  /* border-bottom-width: thin; */
  height: 113%;
  width: 30%;
  font-size: 17px;
}

.home .home_grad2 button{
    width: 15vw;
    height: 6vh;
    font-size: 25px;

}