.projectnav {
  display: flex;
  align-items: center;
  background-color: rgb(0, 132, 255);
}
.projectnav h1{
  font-size: 5vh;
  color: #f2f2f2;
  padding-left: 10%;
}
.projectnav .right_links {
  margin-left: auto;
  margin-right: 2vw;

}

.projectnav a {
  font-size:x-large;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-right: 2vw;

}
.projectnav img{
  position: fixed;
}

.projectnav a:hover {
  text-decoration: underline;
}
.projectnav a.boxxed_button{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.5rem;
}



/* * {box-sizing: border-box;} */

.settingsPopupReference {
  background-color: rgb(0, 132, 255);
  width: 2vw;
  height: auto;
  position: fixed;
  right: 1vw;
}
.settingsPopupReference:hover {
  cursor: pointer;
}

.form-popup {
  display: none;
  position:fixed;
  top: 10%;
  right: 1%; 
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  }

/* Project_Main */
.projectmain .leftPanel{
  margin: 0 auto;

}
.projectmain .projectButtons{
  padding-top: 2vh;
  padding-bottom: 1vh;
  float: right;
}
.projectmain .projectButtons button{
  padding:1vh;
  margin-left: 1vh;
  border-radius: 5px;
}
.projectmain .listButtons button{
  width: 50%;
  padding: 1vh;
}
.projectmain .listButtons .pressedButton{
  background-color: rgb(0, 132, 255);
  color: #f2f2f2;
  border: 1px solid rgb(0, 132, 255);

}
.projectmain .listButtons .unpressedButton{
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  border: 1px solid #ddd;

}
#main_table {
  border-collapse: collapse;
  width: 100%;
}

#main_table td, #customers th {
  border: 1px solid #ddd;
  padding: 1vh;
}

#main_table tr:nth-child(even){background-color: #f2f2f2;}

#main_table tr:hover {background-color: #ddd;}

#main_table th {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: left;

}