.projectnav {
  display: flex;
  align-items: center;
  background-color: rgb(0, 132, 255);
  max-block-size: 7vh;
}

.projectnav .dira_link{
  font-size: 5vh;
  color: #f2f2f2;
  margin-left: 5%;
}
.projectnav .dira_link:hover{
  text-decoration: none;
}
.projectnav .right_links {
  margin-left: auto;
  margin-right: 2vw;
}

.projectnav a {
  font-size:x-large;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 5px;
  margin-right: 2vw;
}

.projectnav img{
  position: fixed;
}

.projectnav img:hover{
  /* background-color: white; */
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 lightgray, 0 4px 8px 0 lightgray;
  
}

.projectnav a:hover {
  text-decoration: underline;
}

.projectnav a.boxxed_button{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.5rem;
}

.projectnav a.boxxed_button:hover {
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  transition: 0.2s;
  
}

.projectnav .settingsPopupReference {
  background-color: rgb(0, 132, 255);
  width: 2vw;
  height: auto;
  position: fixed;
  right: 1vw;
}

.projectnav .settingsPopupReference:hover {
  cursor: pointer;
}

.projectnav .form-popup {
  display: none;
  position:fixed;
  top: 7.1%;
  right: 0.1%; 
  border: 1px solid #ddd;
  z-index: 9;
}

.projectnav .form-container {
  max-width: 200px;
  padding: 10px;
  background-color: white;
}

.projectnav .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.projectnav .form-container .btn {
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom:1px;
}


/* Project_Main */
.projectmain .leftPanel{
  margin: 0 auto;
}

.projectmain .projectButtons{
  padding-top: 2vh;
  padding-bottom: 1vh;
  float: right;
}

.projectmain .projectButtons button{
  padding:1vh;
  margin-left: 1vh;
  border-radius: 5px;
}

.projectmain .listButtons button{
  width: 50%;
  padding: 1vh;
}

.projectmain .listButtons .pressedButton{
  background-color: rgb(0, 132, 255);
  color: #f2f2f2;
  border: 1px solid rgb(0, 132, 255);
}

.projectmain .listButtons .unpressedButton{
  background-color: #f2f2f2;
  color: rgb(0, 132, 255);
  border: 1px solid #ddd;
}

.projectmain #main_table {
  border-collapse: collapse;
  width: 100%;
}

.projectmain #main_table td, #customers th {
  border: 1px solid #ddd;
  padding: 1vh;
}

.projectmain #main_table tr:nth-child(even){background-color: #f2f2f2;}

.projectmain #main_table tr:hover {background-color: #ddd;}

.projectmain #main_table th {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: left;
}

/* Members */

.members .content{
  margin-left: 2vw;
}

.members .content #project_name{
  margin-top: 2vh;
}

.members .content .main_panel{
  background-color: rgb(168, 208, 248);
  border-radius: 5px;
  max-width: 60%;
  border:2px solid lightgray;
  padding: 2vh 2vw;
  align-items: center;  
}

.members .content .main_panel #team_members{
  color: white;
  float: left;
}

.members .content .main_panel button{
  float: right;
  border-radius: 3px;
  width: 13vw;
  font-size: 1.6em;
  margin-top: 0.1em;
}

.members .content #main_table {
  margin-top: 6vh;
  border-collapse: collapse;
  width: 100%;
}

.members .content #main_table td, #customers th {
  border: 1px solid #ddd;
  padding: 1vh;
}

.members .content #main_table tr:nth-child(even){
  background-color: #f2f2f2;
}

.members .content #main_table tr:nth-child(odd){
  background-color: white;
}

.members .content #main_table tr:hover {
  background-color: #ddd;
}

.members .content #main_table th {
  border: 1px solid #ddd;
  padding: 1vh;
  text-align: left;
}

.members .add_members_popup{
  position: absolute;
  top:30%;
  left:50%;
  width:20%;
  margin-left:-12.5%;  
  text-align: center;  
  background-color: rgb(168, 208, 248);
  border:2px solid lightgray;
  border-radius: 5px;
  padding: 2vh 1.5vw;
}

.members .add_members_popup h2{
  float:left;
  color: white;
  margin-bottom: 1vh;
}

.members .add_members_popup img{
  width: 2vw;
  height: auto;
  float:right;
}

.members .add_members_popup img:hover{
  cursor: pointer;  
}

.members .add_members_popup input{
  margin-top: 1vh;
  margin-bottom: 1vh;
  border-width: thin;
  width:90%;
  font-size: large;
  padding: 1vh;
  margin-left: 0;
  margin-right: 0;
}

.members .add_members_popup button{
  border-radius: 3px;
  width: 10vw;
  font-size: 1.6em;
  margin-top: 0.6em;
}